<!-- Post Template -->
<article class="post fade-in">
  <h1 class="post-title">
    <%= data.title %>
  </h1><br>
  <% if(data.date) { %>
   
  <% } %> 
    <% if(data.author) { %>
    <time>
      <span>Ecrit par <%= data.author %></span>
    </time>
  <% } %>
  <div class="post-tags">
    <% if(data.tags) { %>
      <% data.tags.forEach(function(tag) { %>
        <% if(tag) { %>
         <a href="#/posts?tag=<%= tag %>" class="post-tag">Autres posts dans la catégorie <%= tag %></a>
        <% } %>
      <% }) %>
    <% } %>
  </div><br>
  <div class="post-content">
    <%= data.body %>
  </div><br>
</article>
